.menu-hamburguer{
    background-image: url("../image/Menu.svg");
    display: inline-block;
    width: 24px ;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;


}


.cabecalho{
    background-color:var(--cor-cabecalho);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container{
    display: flex;
    align-items: center;
}
.container--imagem{
    padding: 1em;
}